
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to fakebook, <%= @user.name %></h1>
    <p>
      Thanks for signing up for my facebook ripoff, you can log in with your email  <%= @user.email %>.<br>
    </p>
    <p>Have a great day!</p>
  </body>
</html>