<div>
    <h2>Notifications</h2>
    <% requests = current_user.incoming_friend_requests %>
    <% unless requests.empty? %>
        <ul>
        <% requests.each do |request| %>
        <li>
            <%= "#{request.sender.name} wants to be your friend" %>
            <%= render partial: 'users/accept_friend', locals: {sender_id: request.sender_id} %>
            <%= render partial: 'users/decline_friend', locals: {sender_id: request.sender_id} %>
        </li>
        <% end %>
        </ul>
    <% else %>
        <p>No new notifications</p>
    <% end %>
</div>